<footer>
  <div class="section group footer__frame">
      <div class="col span_1_of_2 footer__text">
          <strong>To discuss a project commission, product requirements or consulting opportunities please get in touch.</strong>
      </div>
      <div class="col span_1_of_2 footer__contact--wrap">
          <strong>Contact Me.</strong>
          <dl>
              <dt>Email:</dt>
              <dd>
                  <a href="mailto:info@diztinct.co.uk">info@diztinct.co.uk</a>
              </dd>
          </dl>
          <a href="#" class="btn">Send Enquiry</a>
      </div>
  </div>
</footer>
