<!--<app-header></app-header>
<app-banner></app-banner>-->
<!--<header>
    <h1><span class="light">SUPER</span>LOGO</h1>
    <span class="spacer"></span>
    <a md-button 
    [routerLink]="['home']"
    routerLinkActive="active">Home</a>
    <a md-button 
    [routerLink]="['about']"
    routerLinkActive="active">About</a>
    <a md-button
    [routerLink]="['contact']"
    arouterLinkActive="active">Contact</a>
</header>-->

<!--<header id="header">
    <div class="nav">
        <div class="nav-header">
            <div class="nav-title">
                <a href="#" [routerLink]="['home']">
                    <img src="/assets/img/logo1.png" alt="logo">
                </a>
            </div>
        </div>
        <div class="nav-btn">
            <span>Navigate</span>
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-links">
            <a md-button
            [routerLink]="['work']"
            arouterLinkActive="active">Work</a>
            <a md-button 
            [routerLink]="['about']"
            routerLinkActive="active">About</a>
            <a md-button
            [routerLink]="['contact']"
            arouterLinkActive="active">Contact</a>
        </div>
    </div>
  </header>-->

<div class="container">
        <app-header (featureSelected)="onNavigate($event)"></app-header>
  <div class="row">
    <div class="col-md-12">
      <app-home *ngIf="loadedFeature === 'home'"></app-home>
      <app-about *ngIf="loadedFeature ==='about'"></app-about>
      <app-work *ngIf="loadedFeature === 'work'"></app-work>
      <app-contact *ngIf="loadedFeature === 'contact'"></app-contact>
    </div>
  </div>
  <app-footer></app-footer>
</div>

  
 

