
.span_1_of_4 {
	width: 23.8%; 
}

.col {
    padding: 1em 0;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}


.item__box--imgabout > img {
    width: 100%;
}

.box__small {
    width: 100%;
    position: relative;
    height: 478px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    min-height: 250px;
    background: #ffffff;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    overflow: hidden;
}
