<div class="menu panel">
  <div class="panel__holder" >
      <ul>
          <li>
              <a data-filter="user-interface-design" data-filter-url="inc/web-design.html" class="ui-design tooltip" href="#">
                  <span>design</span>
              </a>
          </li>
          <li>
              <a data-filter="web-design" data-filter-url=" inc/user-interface-design.html" href="#">
                  <span>responsive</span>
              </a>
          </li>
          <li>
              <a data-filter="responsive-design" data-filter-url="inc/responsive-web-design.html" class="respsonive-design tooltip" href="#">
                  <span>bla</span>
              </a>
          </li>
          <li>
              <a data-filter="brand-identity-design" data-filter-url="inc/brand-identity-design.html" class="brand tooltip" href="#">
                  <span>bla</span>
              </a>
          </li>
          <li>
              <a data-filter="creative-production" data-filter-url="inc/creative-production-design.html" class="creative tooltip" href="#">
                  <span>bla</span>
              </a>
          </li>
      </ul>
      <form>
          <fieldset>
              <span class="select__area">
                  <span class="select__area--img">
                      <img src="assets/img/ico1.png" alt="Recent updates"> Recent updates
                  </span>
                  <a class="select__opener">
                  </a>
                  <select class="select__filter" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); top: 0px; left: 0px; margin: 0px; padding: 0px; opacity: 0; border: none; position: absolute; width: 283px; height: 49px;">
                      <option value="all" data-filter-url="inc/list.html" title="images/ico1.png">Recent Updates</option>
                      <option value="user-interface-design" data-filter="user-interface-design" data-filter-url="inc/user-interface-design.html"
                          title="images/ico5.png">User Interface Design</option>
                      <option value="web-design" data-filter="web-design" data-filter-url="inc/web-design.html" title="images/ico3.png">Web Design</option>
                      <option value="brand-identity-design" data-filter="brand-identity-design" data-filter-url="inc/brand-identity-design.html"
                          title="images/ico2.png">Brand Identity</option>
                      <option value="creative-production" data-filter="creative-production" data-filter-url="inc/creative-production-design.html"
                          title="images/ico6.png">Design Production</option>
                  </select>
              </span>
          </fieldset>
      </form>
  </div>
</div>
